<div class="page-title d-flex bg-dark" aria-label="Page title">
    <div class="container text-center align-self-center">
        <h1 class="page-title-heading text-white">New article</h1>
    </div>
</div>

<%= render 'form', article: @article %>
