<div class="page-title d-flex bg-dark" aria-label="Page title">
    <div class="container text-center align-self-center">
        <h1 class="page-title-heading text-white">
            <%= @category.name %>
        </h1>
    </div>
</div>

<h3>Articles</h3>

<ul>
<% @category.articles.each do |article| %>
    <li><%= article.title %></li>
<% end %>
</ul>
